<style>
    .maxy_component_item.page_view_equalizer .equalizer_wrap {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: repeat(2,1fr);
        row-gap: 8px;
    }

    .maxy_component_item.page_view_equalizer .swiper-container {
        overflow: hidden;
    }
</style>
{{#each this}}
{{#if @first}}
<div class="equalizer_wrap swiper-slide">
    {{else}}
    {{slideGroupOpen @index}}
    {{/if}}

    <div class="page_view_equalizer_wrap">
        <div class="title" id="pv_stack__{{@index}}">{{alias packageNm serverType reqUrl}}</div>

        <div class="pb_stack_wrap {{pageType logType}}"  data-value="{{value}}"
             data-user-count="{{userCount}}"
             data-req-url="{{reqUrl}}"
             data-alias-value="{{alias packageNm serverType reqUrl}}">
            {{stackAppend value maxValue}}
        </div>
    </div>
    {{#if @last}}
</div>
{{else}}
{{slideGroupClose @index}}
{{/if}}
{{/each}}