<ul class="graph_box">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
<ul class="graph_nums">
    <li>1</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li>6</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li>12</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li>18</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li>24</li>
</ul>