<div class="maxy_component_wrap" id="{{id}}__chartWrap">
    <div class="maxy_component_header space_between">
        <div class="header_title">
            <h4>{{fmtTitle}}</h4>
            <img class="ic_question"
                 alt="?"
            >
        </div>
        <div class="maxy_component_btn_wrap">
            <button class="" id="btnWarnPopup__{{intervalScatterType type}}"><img class="img_list"/></button>
        </div>
    </div>
    <div class="maxy_component_item" id="{{id}}__chart"></div>
</div>