<style>
    .maxy_popup_common {
        display: block;
        top: 40px;
        right: -500px;
        left: auto !important;
        width: 500px;
        min-width: 500px;
        min-height: auto !important;
        height: calc(100% - 40px);
        visibility: visible !important;
        transition: right 0.5s ease !important;
        transform: initial !important;
        padding: 0 !important;
    }

    .maxy_popup_common.show {
        right: 0;
    }

    .maxy_popup_common .header {
        height: 60px;
        width: 100%;
        padding: 20px 15px;
        display: flex;
        justify-content: space-between;
        gap: 1em;
        border-bottom: 1px solid #DCDCDC;
        align-items: center;
    }

    .maxy_popup_common .header .name {
        display: flex;
        gap: 1em;
        align-items: center;
    }

    .maxy_popup_common .header h3 {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .maxy_popup_common .contents {
        display: flex;
        gap: 3.7em;
        flex-direction: column;
        height: calc(100% - 60px);
        overflow-y: auto;
        padding: 20px 25px;
        background-color: #F7F8FA;
    }

    .maxy_popup_common .contents > div:last-child {
        margin-bottom: 0;
    }

    .maxy_popup_common .contents .title {
        border-bottom: 1px solid #e3e5e8;
        margin-bottom: 11px;
        padding-bottom: 0.5em;
        color: #4D83A1;
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .maxy_popup_common .contents .content.input_wrap {
        gap: .5em;
        display: grid;
    }

    .maxy_popup_common .contents .content.input_wrap .grid {
        display: grid;
        grid-template-columns: 41% 52% auto;
        gap: 3%;
        align-items: center;
        position: relative;
    }

    .maxy_popup_common .contents label {
        line-height: normal;
    }

    .btn_wrap {
        display: flex;
        gap: .5em;
    }

    .maxy_popup_common .contents input[type="checkbox"] + label {
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        display: block;
        width: 27px;
        background-size: 26px;
        background-position: center;
        background-image: url(/images/maxy/toggle-off.svg);
        margin-left: auto;
    }

    .maxy_popup_common .contents input[type="checkbox"]:checked + label {
        background-image: url(/images/maxy/toggle-on.svg);
    }

    select:disabled {
        background-color: #e3e5e8;
    }

    .content .grid .err_txt {
        display: none;
        padding-left: 5px;
        margin-top: 0;
        margin-bottom: 1px;
        text-align: left;
        width: 100%;
        line-height: normal;
        font-size: 12px;
    }

    .content .grid .err_txt.show {
        display: grid;
    }

    .grid .add_txt {
        position: absolute;
        top: 32px;
        font-size: 12px;
        color: var(--logo-purple-1);
    }

    .alarm-table tbody tr:hover, .alarm-table tbody tr.selected {
        background-color: #F6F7FF;
    }

    .contents textarea#templateMsg {
        width: 100%;
        height: 100px;
        padding: 10px;
        box-sizing: border-box;
        line-height: 1.4;
        resize: vertical;
        border: 1px solid var(--color-border-in-light);
        border-radius: var(--radius);
    }

    .msg_guide_wrap {
        font-size: 12px;
        margin-top: 11px;
        line-height: normal;
        color: var(--logo-purple-1);
    }

    .msg_guide_wrap .msg_guide_title {
        color: var(--black-1);
        margin-bottom: .3em;
        font-weight: 600;
    }

    .config_item {
        height: 100%;
    }

</style>
<div class="maxy_popup_common" id="{{id}}__popup">
    <div class="header">
        <div class="name">
            <h3>알림 항목 설정</h3>
        </div>
        <div class="btn_wrap">
            <button class="btn_common opposite" id="btnConfirm" data-t="common.btn.confirm"></button>
        </div>
    </div>
    <div class="contents">
        <div>
            <div class="title">
                <div id="targetDesc"></div>
                <div>
                    <input type="checkbox" id="useYn">
                    <label for="useYn"></label>
                </div>
            </div>

            <div class="content input_wrap">
                <div class="grid">
                    <label for="limitValue" id="limitValueLabel"></label>
                    <input type="number" id="limitValue" min="0" step="1">
                    <span id="targetPostfix"></span>
                    <div></div>
                    <div class="err_txt" id="limitValueErrTxt"></div>
                </div>
                <div class="grid">
                    <label>임계치 기준 추가 조건</label>
                    <select id="selectOptional" >
                        <option value="5">5건</option>
                        <option value="10">10건</option>
                        <option value="30">30건</option>
                        <option value="50">50건</option>
                        <option value="100">100건</option>
                    </select><label for="selectOptional"></label>
                    <span></span>
                </div>
                <div class="grid">
                    <label>임계치 초과 지속 시간</label>
                    <select id="selectLimitOvertime" >
                        <option value="1">1분</option>
                        <option value="3">3분</option>
                        <option value="5">5분</option>
                        <option value="10">10분</option>
                        <option value="15">15분</option>
                        <option value="20">20분</option>
                        <option value="25">25분</option>
                        <option value="30">30분</option>
                    </select><label for="selectLimitOvertime"></label>
                    <span></span>
                </div>
<!--                <div class="grid">-->
<!--                    <label for="alertPeriod">알림 반복 주기 1일 /</label>-->
<!--                    <input type="number" id="alertPeriod" min="0" step="1">-->
<!--                    <span id="alertPeriodPostfix"></span>-->
<!--                    <div></div>-->
<!--                    <div class="err_txt" id="alertPeriodErrTxt"></div>-->
<!--                    <div class="add_txt">※ 반복 주기는 1일 최대 10회 미만 권장 <br>(서버 및 통신 부하 초래)-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
        <div>
            <div class="title" id="">알림 메시지</div>
            <textarea id="templateMsg"></textarea><label for="templateMsg"></label>
            <div class="msg_guide_wrap">
                <div class="msg_guide_title">알림 메시지 작성 가이드</div>
                <div>* 입력 예시) 최근 ${time}분 간 ${type}이/가 ${value}건/값이 발생했습니다.<br>     임계치: ${standard}</div>
                <br>
                <div>* ${time}은 임계치 초과 지속 시간 입니다.</div>
                <div>* ${type}은 항목명 입니다. ex) Error 발생</div>
                <div>* ${value}는 실제 발생한 횟수입니다.</div>
                <div>* ${standard}는 임계치 값입니다.</div>
                <div>* time, type, value, standard 값은 모두 필수입니다.</div>
            </div>
        </div>
    </div>
</div>
