@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #1f2937;
}

:root[data-theme="dark"] {
  --background: #0f172a;
  --foreground: #ebf1ff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Pretendard", var(--font-geist-sans), Arial, Helvetica, sans-serif;
  margin: 0;
}

body.dark_mode {
  background: #0f172a;
  color: #ebf1ff;
}

body.light_mode {
  background: #ffffff;
  color: #1f2937;
}
