<!--
    종합 분석 > PV Equalizer > All 팝업
-->
<style>

  .tabulator-cell[tabulator-field="pageNm"] {
    display: inline-block;
    text-overflow: ellipsis;
  }

  .dark_mode .highcharts-container .highcharts-background {
      fill: none;
  }

  .maxy_popup_common .stack_button_wrap .type_tab_wrap .type_tab {
    max-width: none;
  }

  .data_wrap {
    height: calc(100% - 70px);
  }

  .graph_wrap.maxy_box {
    padding: 1em 0 0 1.5em;
    display: grid;
    grid-template-rows: 90% 8%;
  }

  .graph_wrap.maxy_box .graph_wrap_inner {
    display: grid;
    grid-template-columns: 32% 68%;
    overflow-y: auto;
  }

  .pv_list {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 15px;
  }

  .pv_list .pv_row {
    height: 15px;
    line-height: 15px;
    overflow-x: auto;
    user-select: text;
  }

  .pv_row .name {
    font-size: 12px;
    white-space: nowrap;
    display: block;
    height: 15px;
  }

  .graph_x_wrap {
    display: grid;
    grid-template-columns: 32% 68%;
  }
</style>

<div class="maxy_popup_common pv_analysis" id="{{id}}__popup">
  <div class="maxy_popup_grid_s_wrap">
    <div class="maxy_popup_title_wrap">
      <div class="maxy_popup_title_left">
        <img class="maxy_popup_analysis_icon" src="/images/maxy/icon-analysis.svg" alt="">
        <span id="title" data-t="dashboard.bi.analysis"></span>
        <span id="listCnt"></span>
      </div>
      <div class="maxy_popup_title_right">
        <div class="maxy_component_btn_wrap">
          <button class="maxy_component_btn on" id="{{id}}Btn__1d" data-date="DAY">Day</button>
          <button class="maxy_component_btn" id="{{id}}Btn__1w" data-date="WEEK">1W</button>
          <button class="maxy_component_btn" id="{{id}}Btn__1m" data-date="MONTH">1M</button>
        </div>
      </div>
    </div>

    <div class="data_wrap">
      <div class="stack_button_wrap">
        <div class="type_tab_wrap">
          <span class="type_tab selected" data-type="pageview">Page View</span>
          <span class="type_tab" data-type="viewer">Viewer</span>
          <span class="type_tab" data-type="staytime">Stay Time (Avg.)</span>
        </div>
      </div>

      <div class="graph_wrap maxy_box">
        <div class="graph_wrap_inner enable_scrollbar">
          <div class="pv_list" id="{{id}}List"></div>
          <div class="pv_graph" id="{{id}}Graph"></div>
        </div>

        <div class="graph_x_wrap">
          <div></div>
          <div id="{{id}}xAxis"></div>
        </div>
      </div>
    </div>

  </div>
</div>