<!--
    종합 분석 > Favorites > All 팝업
-->
<style>
    .tabulator-cell[tabulator-field="pageNm"] {
        display: inline-block;
        text-overflow: ellipsis;
    }
</style>

<div class="maxy_popup_common pv_analysis" id="{{id}}__popup">
    <div class="maxy_popup_grid_s_wrap">
        <div class="maxy_popup_title_wrap">
            <div class="maxy_popup_title_left">
                <img class="maxy_popup_analysis_icon" alt="">
                <span id="title" data-t="dashboard.bi.analysis"></span>
                <span id="listCnt"></span>
            </div>

            <div class="maxy_popup_title_right">
                <div class="maxy_component_btn_wrap">
                    <button class="maxy_component_btn on" id="{{id}}Btn__1d" data-date="DAY"
                            data-t="dashboard.bi.day"></button>
                    <button class="maxy_component_btn" id="{{id}}Btn__1w" data-date="WEEK"
                            data-t="dashboard.bi.week"></button>
                    <button class="maxy_component_btn" id="{{id}}Btn__1m" data-date="MONTH"
                            data-t="dashboard.bi.month"></button>
                </div>
            </div>
        </div>

        <div class="" id="{{id}}__list"></div>
        <div class="chart_wrap flex" id="{{id}}ChartWrap">
            <div class="stack_button_wrap">
                <div class="type_tab_wrap">
                    <span class="type_tab selected" data-type="issue">Issue</span>
                    <span class="type_tab" data-type="performance">Performance</span>

                </div>
            </div>

            <div class="maxy_box all" id="issue"></div>
            <div class="maxy_box all hidden" id="performance"></div>
        </div>

    </div>
</div>